<svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<defs>
<symbol id="icon-navi" viewBox="0 0 41 32">
<title>navi</title>
<path d="M0 13.432h41.481v3.999h-41.481v-3.999z"></path>
<path d="M0 0h41.481v3.999h-41.481v-3.999z"></path>
<path d="M0 27.654h41.481v3.999h-41.481v-3.999z"></path>
</symbol>
<symbol id="icon-cart" viewBox="0 0 90 82.8">
<path d="M34.8 82.8c-5.7 0-10.3-4.6-10.3-10.3 0-5.7 4.6-10.3 10.3-10.3s10.3 4.6 10.3 10.3c.1 5.7-4.6 10.3-10.3 10.3zm0-15.1c-2.7 0-4.8 2.2-4.8 4.8 0 2.7 2.2 4.8 4.8 4.8 2.7 0 4.8-2.2 4.8-4.8 0-2.7-2.1-4.8-4.8-4.8zM70.2 82.8c-5.7 0-10.3-4.6-10.3-10.3 0-5.7 4.6-10.3 10.3-10.3 5.7 0 10.3 4.6 10.3 10.3s-4.6 10.3-10.3 10.3zm0-15.1c-2.7 0-4.8 2.2-4.8 4.8 0 2.7 2.2 4.8 4.8 4.8s4.8-2.2 4.8-4.8c0-2.7-2.2-4.8-4.8-4.8zM77.9 54.2H25.2L10.6 5.5H0V0h14.7l4.2 14H90L77.9 54.2zm-48.5-5.5h44.4l8.8-29.1h-62l8.8 29.1z"></path>
</symbol>
</defs>
</svg>
