{{ blok._editable }}
<div class="teaser">
  <div class="slider js_slider">
    <div class="slider__frame js_frame">
      <ul class="slider__slides js_slides">
        {% for slide in blok.body %}
          <li class="js_slide">
            <section class="teaser__inner uk-grid">
              {% include 'slide' with blok:slide %}
            </section>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="pag js_dots"></div>
  </div>
</div>
