{{ blok._editable }}
<div class="teaser" data-vue="Slider">
  <div>
    <section class="teaser__inner uk-grid">
      {% include 'slide' with blok:blok.body[0] %}
    </section>

    <div class="pag">
      {% for item in blok.body %}
        <button class="pag__dot" :class="{'pag__dot--current': current == {{ forloop.index0 }}}" v-on:click="goTo({{ forloop.index0 }})"></button>
      {% endfor %}
    </div>
  </div>
</div>
